@font-face {
    font-family: 'Circular Std';
    src: url('../fonts/AGOptimaMon.ttf') format('ttf'),
    url('../fonts/AGOptimaMonBold.ttf') format('ttf');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('Circula-Medium.woff2') format('woff2'),
    url('Circula-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Circular Std';
    src: url('../fonts/AGOptimaMon.ttf') format('ttf'),
    url('../fonts/AGOptimaMonBold.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'Circular Std Book';
    src: url('../fonts/AGOptimaMon.ttf') format('ttf'),
    url('../fonts/AGOptimaMonBold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

